<%= partial :repo_header, locals: {repo: @repo} %>

<div class="settings row">
  <nav class="col-md-2 sidebar">
    <%= partial :repo_menu, locals: {repo: @repo} %>
  </nav>
  <div class="col-md-10">
    <h2>Disconnect</h2>
    <p>
      This will remove the project from pushbit, stopping the bot from running against
      this project and halting all future billing. You can connect this project again
      at any time and your current behaviors and settings will be retained!
    </p>
    <form action="/repos/<%= @repo.github_full_name %>/unsubscribe" method="POST">
      <input type="submit" value="Disconnect" class="btn btn-primary" />
    </form>
  </div>
</div>
