<%= partial :repo_header, locals: {repo: @repo} %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

<div class="settings row">
  <div class="col-md-12">
    <div class="search">
      <input type="search" placeholder="filter behaviors…" class="search form-control" />
    </div>

    <ul class="media-list">
      <% @behaviors.each do |behavior| %>
        <%= partial :behavior, locals: {behavior: behavior, repo: @repo, enabled: @repo.behaviors.include?(behavior)} %>
      <% end %>
    </ul>
  </div>
</div>
