<div class="titlebar row">
  <div class="col-md-10 col-xs-9">
    <h1><%= @repo.github_full_name.downcase %></h1>
    <p class="subtitle">A behavior last triggered <%= readable @repo.tasks.last.created_at %></p>
  </div>
  <nav class="col-md-2 col-xs-3">
    <a href="<%= "/repos/#{@repo.github_full_name}/settings" %>" class="btn btn-primary">Settings</a>
  </nav>
</div>
