<h3>Reference</h3>
<ol class="articles">
  <li><a href="/docs/getting-started">Getting Started</a></li>
  <li><a href="/docs/environment-setup">Environment Setup</a></li>
  <li><a href="/docs/creating-behavior">Creating a Behavior</a></li>
  <li><a href="/docs/publishing-behavior">Publishing a Behavior</a></li>
</ol>

<h3>API</h3>
<ol class="articles">
  <li><a>Getting Started</a></li>
  <li><a>Triggers</a></li>
  <li><a>Tasks</a></li>
  <li><a>Discoveries</a></li>
  <li><a>Actions</a></li>
</ol>