<h2>Welcome</h2>

<p>Thanks for taking a look at the Pushbit documentation! Just so you know, this is a work in progress as we outline how to use Pushbit, develop behaviors and access the API. All of the source is available on Github, so if you spot any mistakes then fixes are welcomed!</p>

<p>Interested in creating or updating a behavior? Check out the <a href="/docs/getting-started">getting started guide</a>.</p>