<h1class="no-subheader">Account</h1>

<div id="account">
  <div class="row">
    <%= partial :'account/sidebar' %>
    <div class="col-md-9">
      <section class="tab-pane">
        <h2>Profile</h2>
        
        <p>Your profile will be here.</p>
      </section>
    </div>
  </div>
</div>