<h1>Profile</h1>
<p class="subtitle">
  Your account details and preferences.
</p>

<div class="row">
  <nav class="col-md-2 sidebar">
    <%= partial :'account/menu' %>
  </nav>
  <div class="col-md-10">
    <p>Profile will be here</p>
  </div>
</div>
