<h1>Account</h1>

<div id="account">
  <ul class="subtext">
    <li></li>
  </ul>
  
  <div class="row">
    <%= partial :'account/sidebar' %>
    <div class="col-md-9">
      <section class="tab-pane">
        <h2>Profile</h2>
        
        <p>Your profile will be here.</p>
      </section>
    </div>
  </div>
</div>