<div class="row">
  <nav class="col-md-2 col-md-push-10 sidebar">
    <%= partial :'account/menu' %>
  </nav>
  <div class="col-md-9 col-md-pull-2">
    <h1>Account</h1>
    <p class="subtitle">
      Your details and preferences.
    </p>
    <p>Profile will be here</p>
  </div>
</div>
