body,
html {
  height: 100%;
  background: #F9F9F9;
}

body {
  font-family: 'SF UI Text', Helvetica, sans-serif;
  font-size: 16px;
  color: $almost-black;

  .wrapper {
    min-height: 100%;
    position: relative;
  }
}

a {
  color: $blue;

  &:hover {
    color: darken($blue, 10%);
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'SF UI Display', Helvetica, sans-serif;
  font-weight: 400;

  a {
    color: $almost-black;
  }

  small {
    a {
      color: $dark-grey;
    }
  }
}
