.behaviors {
  margin: -5px;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.behavior {
  display: block;
  font-weight: normal;
  text-decoration: none;
  position: relative;
  padding: 0;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    border: 1px solid $very-light-grey;
    border-radius: 5px;
    min-height: 200px;
  }

  &:hover {
    a {
      text-decoration: none;
      box-shadow: 0 1px 8px 0 rgba(0,0,0,.15);
      text-decoration: none;
      transition: box-shadow .15s ease-out;
    }
  }

  h3 {
    color: $almost-black;
    margin: 0 0 5px;
    font-size: 18px;
    flex-grow: 0;
  }

  button {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .description {
    font-size: 14px;
    color: $medium-grey;
    flex-grow: 1;
  }

  .tags {
    margin: 0;
    color: $light-grey;
    font-size: 14px;
  }
}
