#subscribe {
  margin-top: 20px;

  .last-sync {
    display: block;
    margin-bottom: 5px;
    color: $light-grey;
    font-size: 14px;
  }

  .search,
  .organizations {
    display: none;
  }

  .empty {
    min-height: 150px;
    text-align: center;
    padding-top: 100px;
    background: url('/assets/grid.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    opacity: .5;
  }

  ul {
    margin: 0;
    padding: 10px 0 0;
    list-style: none;

    li {
      .label {
        display: block;
        font-size: 18px;
        font-weight: normal;
        color: $dark-grey;
        padding: 10px 0;
        border-bottom: 1px solid $very-light-grey;
        line-height: 36px;
        text-align: left;
        position: relative;

        a {
          color: $dark-grey;
        }
      }

      .glyphicon {
        position: relative;
        top: 2px;
        opacity: .8;
      }

      .organization {
        opacity: .8;
      }

      button {
        float: right;

        .price {
          background: rgba(0,0,0,.2);
        }
      }

      small {
        padding-left: 10px;
        font-size: 12px;
        color: $light-grey;
      }
    }
  }
}
