.dashboard {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .repo {
    padding: 6px 0;
    border-bottom: 1px solid #F1F1F1;

    .name {
      font-size: 20px;
      line-height: 1;
    }

    time {
      font-size: 14px;
      color: #999;
    }
  }
}
