header {
  padding: 40px 0 0;

  .brand {
    text-decoration: none;

    span {
      display: inline-block;
      line-height: 35px;
      vertical-align: top;
      font-size: 28px;
      font-family: 'Asap', sans-serif;
      font-weight: bold;
      font-style: italic;
      color: #5F1D8E;
      margin-right: 40px;
    }
  }

  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    margin-left: 5px;
  }

  .nav {
    li > a {
      padding: 0;
      margin: 0 0 0 20px;
      line-height: 35px;
      color: #999;
    }

    li > a:hover {
      color: #666;
      background: none;
    }

    li:first-child a {
      margin-left: 0;
    }
  }

  .navbar-right {
    margin-right: 0;
    float: right;
  }
}

@media only screen and (max-width : 480px) {
  header {
    padding-top: 20px;
  }
}
