#content {
  section.splash {
    text-align: center;
    min-height: 400px;
    padding-top: 30px;
    border: 0;
  
    h3 {
      line-height: 1.4;
      max-width: 800px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: #777;
      font-weight: normal;
    }
  
    .cta {
      margin-top: 30px;
    }

    .btn-primary {
      padding-left: 52px;
      background-image: url('/images/github-mark-light-64px.png');
      background-repeat: no-repeat;
      background-size: 28px 28px;
      background-position: 12px 8px;
    }
  }

  section.feature {
    min-height: 400px;
    background: #efefef;
    border: 0;
  
    h2 {
      margin: 30px 0;
      text-align: center;
      color: #666;
    }
  }
}