// brand colors
$blue: #1CA7FC;
$pink: #DB1A78;
$green: #94D737;

// ui colors
$white: #FFF;
$almost-white: #F1F1F1;
$very-light-grey: #EFEFEF;
$light-grey: #999;
$medium-grey: #888;
$dark-grey: #676767;
$almost-black: #444;

$black: #000;
$black-10: rgba(0, 0, 0, .1);
$black-25: rgba(0, 0, 0, .25);
$black-50: rgba(0, 0, 0, .5);
$black-75: rgba(0, 0, 0, .75);

// content
$content-empty: '';

@mixin panel {
  background: $white;
  border: 1px solid $black-10;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 40px;
}
