body,
html {
  height: 100%;
}

body {
  font-family: 'SF UI Text', Helvetica, sans-serif;
  font-size: 16px;
  color: #444;

  .wrapper {
    min-height: 100%;
    position: relative;
  }
}

h1,h2,h3,h4,h5 {
  font-family: 'SF UI Display', Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 26px;
  margin-bottom: 6px;

  a {
    color: #333;
  }

  small a {
    color: #666;
  }
}
