body,
html {
  height:100%;
}

body {
  font-size: 15px;
  color: #333;
  
  .wrapper {
    min-height: 100%;
    position: relative;
  }
}

h1,h2,h3,h4,h5 {
  font-family: 'Asap', sans-serif;
  
  a {
    color: #333;
  }
  
  small a {
    color: #666;
  }
}