<div class="container">
  <ul>
    <li>
      <a href="">Built Remote <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
    </li>
    <li>
      <a href="http://www.pushbit.co">Open Source <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
    </li>
  </ul>
  <p class="copyright">
    Copyright <%= Date.today.year %> <span class="copy-symbol">&copy;</span>
  </p>
</div>
