<div class="container">
  <ul>
    <!--
    <li>
      <a class="nav-link" href="/pricing">Pricing</a>
    </li>
    <li>
      <a class="nav-link" href="#">Contact</a>
    </li>
    -->
  </ul>
</div>