<nav class="navbar">
  <div class="container">
    <a class="brand navbar-left" href="/">
      <img src="/images/logo.png" alt="Pushbit" height="36" />
    </a>
    <ul class="nav nav-pills navbar-right">
      <% if current_user %>
      <li class="nav-item">
        <a class="nav-link" href="/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/billing">
          Account
          <img class="avatar circular" src="<%= current_user.avatar_url %>" />
        </a>
      </li>
      <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Sign Up</a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
