<ul class="menu">
  <li><%= nav_link "/repos/#{repo.github_full_name}", 'Behaviors' %></li>
  <li><%= nav_link "/repos/#{repo.github_full_name}/activity", 'Activity' %></li>
  <li><%= nav_link "/repos/#{repo.github_full_name}/settings", 'Settings' %></li>
</ul>
