<div class="titlebar row">
  <div class="col-md-10">
    <h1>Dashboard</h1>
    <p class="subtitle">Behaviors run automatically as you work, keep an eye on them here.</p>
  </div>
  <div class="col-md-2">
    <a href="/subscribe" class="btn btn-primary">Connect Repo</a>
  </div>
</div>

<div class="dashboard">
  <ol class="repos">
    <% @repos.each do |repo| %>
      <%= partial :repo, locals: {repo: repo, active: false} %>
    <% end %>
  </ol>
</div>
