<div class="titlebar row">
  <div class="col-md-9 col-xs-9">
    <h1>Dashboard</h1>
    <p class="subtitle">All your connected repositories.</p>
  </div>
  <div class="col-md-3 col-xs-3">
    <a href="/connect" class="btn btn-primary pull-right connect-repository">
      Connect Repository
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
</div>

<div class="dashboard">
  <ol class="repos">
    <% @repos.each do |repo| %>
      <%= partial :repo, locals: {repo: repo, active: false} %>
    <% end %>
  </ol>
</div>
