  <section class="splash row">
    <div class="col-md-12">
      <h1>Automated workflows built on GitHub</h1>
      <h3>Pushbit saves hours of engineering time by automatically managing issues, contributors and pull requests - all without lifting a finger.</h3>

      <a href="/auth/login" class="btn btn-primary btn-lg">Log In with GitHub <i class="icon octocat"></i></a>
    </div>
  </section>
</div>

<section class="feature-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>The most organized member of your team</h1>
        <h3>
          Pushbit is totally configurable - setup once and then let our bot get to work.
          Here are just some of the things it might help out on…
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 feature">
        <h4><span class="octicon octicon-mail"></span> Email Summaries</h4>
        <p>Pushbit can email project managers and stakeholders with the latest work that has been tackled in your repository including issues closed and PR’s merged.</p>
      </div>
      <div class="col-md-4 feature">
        <h4><span class="octicon octicon-organization"></span> Automatic Assigning</h4>
        <p>Find your project languishing with unassigned issues? Is it awkward to assign a co-worker? Have pushbit kick things off by assigning relevant contributors.</p>
      </div>
      <div class="col-md-4 feature">
        <h4><span class="octicon octicon-issue-closed"></span> Issue Closing</h4>
        <p>Pushbit can automatically ask for more information or close old issues once a designated time period has passed.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 feature">
        <h4><span class="octicon octicon-tag"></span> Issue Labelling</h4>
        <p>Find yourself repeating the same labels over and over again? Shouldn’t this be obvious? Pushbit can help out by using NLP to automatically label issues.</p>
      </div>
      <div class="col-md-4 feature">
        <h4><span class="octicon octicon-thumbsup"></span> Merge On Approval</h4>
        <p>Don’t waste a second - Pushbit can merge your work as soon as one or more of your coworkers approves a pull request.</p>
      </div>
      <div class="col-md-4 feature">
        <h4><span class="octicon octicon-radio-tower"></span> Ping Pong</h4>
        <p>Have Pushbit add comments to remind contributers about pull requests that need their attention.</p>
      </div>
    </div>
  </div>
</section>

<section class="pricing-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a id="pricing"></a>
        <h1>Our Pricing</h1>
        <h3>Less than a fancy sandwich - total no brainer, huh?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="pricing-box">
          <h2><span class="mega-octicon octicon-heart"></span> Open Source</h2>
          <h1>
            <span class="currency">$</span>0<span class="period">/ mo</span>
          </h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-box">
          <h2><span class="mega-octicon octicon-lock"></span> Private Repos</h2>
          <h1>
            <span class="currency">$</span>10<span class="period">/ mo</span>
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="/auth/login" class="btn btn-primary btn-lg">Log In with GitHub <i class="icon octocat"></i></a>
      </div>
    </div>
  </div>
</section>

<div class="container">
