  <section class="splash row">
    <div class="col-md-7">
      <h1>Automated workflows built on GitHub</h1>
      <h3>Manage issues, contributors, pull requests, documentation and much more… without lifting a finger!</h3>

      <a href="/auth/login" class="cta btn btn-primary btn-lg">Signin with GitHub <i class="icon octocat"></i></a>
    </div>
    <div class="col-md-4 col-md-offset-1">
    </div>
  </section>
</div>

<section class="feature-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 feature">
        <h2>Triggers</h2>

        <p>Pushbit is triggered by scheduled events, pull requests, code pushes, comments, and other actions your team takes.</p>
      </div>
      <div class="col-md-4 col-md-offset-2 feature">
        <h2>Behaviors</h2>

        <p>Pushbit runs many different <a href="/behaviors">behaviors</a> against your project depending on the trigger. We're adding new behaviors all the time!</p>
      </div>
      <div class="col-md-4 col-md-offset-1 feature">
        <h2>Actions</h2>

        <p>Pushbit will create pull requests, comments and issues that help out your team or directly fix and improve your codebase.</p>
      </div>
      <div class="col-md-4 col-md-offset-2 feature">
        <h2>Merge Away</h2>

        <p>Pushbit's pull requests will be checked through your normal continuous integration flow, once everything passes then simply click merge!</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
