  <section class="splash">
    <h1>Automated code fixes and reviews</h1>
    <h3>Pushbit is a proactive GitHub bot with personality! Pushbit reviews your code against hundreds of rules and automatically fixes problems it finds. </h3>
  
    <a href="/auth/login" class="cta btn btn-primary btn-lg">Join Public Beta</a>
  </section>
</div>

<section class="feature" id="how-it-works">
  <div class="container">
    <h2>How it Works</h2>
  
    <div class="row">
      <div class="col-md-3">
        <h3>Triggers</h3>
    
        <p>Pushbit is triggered by scheduled events, pull requests, code pushes, comments, and other actions your team takes.</p>
      </div>
      <div class="col-md-3">
        <h3>Behaviors</h3>
    
        <p>Pushbit runs many different <a href="/behaviors">behaviors</a> against your project depending on the trigger. We're adding new behaviors all the time!</p>
      </div>
      <div class="col-md-3">
        <h3>Actions</h3>

        <p>Pushbit will create pull requests, comments and issues that help out your team or directly fix and improve your codebase.</p>
      </div>
      <div class="col-md-3">
        <h3>Merge Away</h3>
    
        <p>Pushbit's pull requests will be checked through your normal continuous integration flow, once everything passes then simply click merge!</p>
      </div>
    </div>
  </div>
</section>

<div class="container">
