<h1>Security</h1>

<p>We understand that the security of your source code is paramount and this is not a responsbility that we take lightly. Our architecture has been designed from the ground up with this in mind.</p>

<h2>Architecture</h2>
<p>For many of Pushbit's behaviors we need to checkout either a portion or the entirety of your codebase. When we do this it is in firewalled, sandboxed containers that have no ability to access our wider infrastructure or other customers code.</p>

<h2>Authorization</h2>
<p>When you authenticate using Github we use OAuth to get a list of your public repositories, you can optionally give us access to private repositories at anytime by updating your Oauth permissions from within the application.</p>

<p>If you'd like to remove all of Pushbit's permissions then the easiest way to do that is to visit <a href="https://github.com/settings/connections/applications">Github's services page</a> where you can revoke access.

<h2>Questions?</h2>
<p>We have a lot of detail left to add on this page, if you have any further questions to ask then please get in touch.</p>